@model Trainingfacility_Bitcube.Models.Lecturer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lecturer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateofbirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateofbirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            Manage
        </dt>
        <dd class = "col-sm-10">
             <a asp-controller="Student" asp-action="Index" >Students</a> |
             <a asp-controller="Degree" asp-action="Index" >Degrees</a> |
             <a asp-controller="Courses" asp-action="Index" >Courses</a> |
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LecturerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
