@model IEnumerable<Trainingfacility_Bitcube.Models.Student>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
    var userid = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
}

<h1>Details</h1>

<div>
    <h4>Courses for this degree</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration) Years
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer.Fullname)
        </dd>*@
        <dt class = "col-sm-2">
            Related Courses
        </dt>
        <dd  class = "col-sm-10">
            @ViewData["relatedcourses"]
        </dd>
    </dl>
</div>

<p><b>Student List</b></p>

<table class="table">
    <thead>
        <tr>
            <th>
                Forename
            </th>
            <th>
                Surname
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Email
            </th>
            <th>
                First Name
            </th>
            <th>
                Fullname
            </th>
            <th>
                Degree
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateofbirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.Name)
            </td>
            <td>
                <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId">Enrol/Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.DegreeId">Edit</a> |*@
    <a asp-controller="Lecturer" asp-action="Dashboard" asp-route-id="@userid">Back to List</a>
</div>
